.banner {
    background-size: cover;
    background-position: 30% 40%;
    padding: 200px 0px;
    margin: 0px;
}

.banner.container {
  width: 900px;
  margin: 0 auto;
}

.banner h1,
.banner p {
  color: white;
  margin: 20px 90px;
}

.banner h1 {
  font-weight: bold;
}

.banner p {
  opacity: 0.7;
  font-size: 20px;
}

.btn-green {
  display: inline-block;
  background-color: #1edd88;
  color: white;
  padding: 16px 36px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  margin: 0 90px;
}
