.how-works-container {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.how-works-container h2 {
  text-align: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}


.card {
  width: 200px;
  border-radius: 3px;
  border: 1px solid rgba(214, 213, 213, 0.993);
  box-shadow: rgba(214, 213, 213, 0.993);
  padding: 20px;
  text-align: center;
}

.card img {
  height: 100px;
}
