.links i {
  font-size: 30px;
  padding: 5px;
  color: #1EDD88;
  display: inline;
}

.footer {
  background-color: #2c2b2b;
  padding: 60px;
  text-align: center;
}

.footer p {
  color: #6B6C6C;
}

.fas.fa-heart {
  color: red;
}
